@font-face {
  font-family: 'Daydream';
  src: url('./fonts/Daydream.ttf') format('truetype'); 
}

@font-face {
  font-family: 'DigitalDisco';
  src: url('./fonts/DigitalDisco.ttf') format('truetype');
}

@font-face {
  font-family: 'VT323';
  src: url('./fonts/VT323-Regular.ttf') format('truetype');
}

#appRoot {
  font-family: 'VT323', Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  white-space: pre-line;
  box-sizing: border-box;
  overflow: scroll;
  display: block !important;
}

@media (min-width: 576px) {
  #appRoot {
    h1 {
      font-size: 1.6875rem + .125rem;
    }

    .title-wrapper span {
      font-size: 1.125rem + .125rem;
    }

    .file-name-container #fileName {
      font-size: 1.125rem + .125rem;
    }

    .close-button {
      width: 25px;
      height: 25px;
    }
  }
}

@media (min-width: 768px) {
  #appRoot {
    h1 {
      font-size: 1.6875rem + (.125rem * 2);
    }

    .title-wrapper span {
      font-size: 1.125rem + (.125rem * 2);
    }

    .file-name-container #fileName {
      font-size: 1.125rem + (.125rem * 2);
    }

    .pixel-corners--wrapper {
      max-width: 400px;
    }
  }
}

@media (min-width: 992px) {
  #appRoot {
    h1 {
      font-size: 1.6875rem + (.125rem * 3);;
    }
    
    .title-wrapper span {
      font-size: 1.125rem + (.125rem * 3);
    }

    .file-name-container #fileName {
      font-size: 1.125rem + (.125rem * 3);
    }

    .pixel-corners--wrapper {
      max-width: 500px;
    }

    #facePhoto {
      height: 110px;
      width: 110px;
    }
  }
}

@media (min-width: 1200px) {
  #appRoot {
    h1 {
      font-size: 1.6875rem + (.125rem * 4);
    }

    .title-wrapper span {
      font-size: 1.125rem + (.125rem * 4);
    }

    .file-name-container #fileName {
      font-size: 1.125rem + (.125rem * 4);
    }

    .close-button {
      width: 30px;
      height: 30px;
    }

    .body-text-font {
      font-size: 1.125rem + .125rem;
    }
  }
}

@media (min-width: 1400px) {
  #appRoot {
    h1 {
      font-size: 1.6875rem + (.125rem * 5);
    }

    .title-wrapper span {
      font-size: 1.125rem + (.125rem * 5);
    }

    .file-name-container #fileName {
      font-size: 1.125rem + (.125rem * 5);
    }
  }
}

:root {
  --font-small: 0.75rem;
  --font-medium: 1.125rem;
  --font-large: 1.6875rem;
}

.background-white {
  background-color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding-bottom {
  padding-bottom: 20px;
}

.top-margin {
  margin-top: 10px;
}

.overflow {
  max-height: 80vh;
  overflow-x: scroll;
}

.text-left-align {
  text-align: left;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-justify-space-around {
  display: flex;
  justify-content: space-around;
}

.body-padding {
  padding: 0 15px 30px;
}

.body-text-font {
  font-family: 'VT323';
  color: #6f123f;
  font-size: var(--font-medium);
}

.gradient-text {
  color: transparent;
  background: linear-gradient(216deg, rgba(102,145,255,1) 0%, rgba(119,92,240,1) 25%, rgba(220,40,127,1) 50%, rgba(255,98,0,1) 75%, rgba(255,174,0,1) 100%);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 0 0;
  background-clip: text;
  background-attachment: fixed;
  @extend .shimmer;
}

h1 {
  margin: 20px 0;
  font-family: 'Daydream';
  text-align: center;
  font-size: var(--font-large);
}

input:focus, 
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline: #5E9ED6 solid 1px;
  outline-style: auto;
}

a:focus, 
a:focus-visible {
  outline: #5E9ED6 solid 1px;
  outline-style: auto;
  outline-offset: 3px;
}

.title-wrapper span {
  font-family: 'DigitalDisco';
  font-size: var(--font-medium);
  margin: 0;
}

.background {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(216deg, rgba(102,145,255,1) 0%, rgba(119,92,240,1) 25%, rgba(220,40,127,1) 50%, rgba(255,98,0,1) 75%, rgba(255,174,0,1) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 0 0;
}

@keyframes shimmer {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.shimmer {
  animation: shimmer 6s linear infinite alternate;
}

@keyframes pixelGrid {
  from {
    background-position: top left;
  }
  to {
    background-position: bottom right;
  }
}

.gird-shift::before {
  animation: pixelGrid 100s linear infinite alternate;
}

.background-pixel-grid {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
 

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300%;
    height: 300%;
    background-image: url('./images/pixel-grid.png');
    background-attachment: initial;
    background-position: top left;
    transform:translate(-50%,-50%) rotate(-17deg);
    opacity: 20%;
  }
}

.container-wrapper {
  display: flex;
  justify-content: center;
}

.file-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  #fileName {
    padding: 15px 0 15px 20px;
    margin: 0;
    font-size: var(--font-medium);
    text-transform: uppercase;
    color: white;
    font-family: 'VT323';
  }

  &::before {
    content: "";
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    @extend .background;
    @extend .shimmer
  }
}

.close-button {
  height: 20px;
  width: 20px;
  padding-right: 15px;
  background-image: url('./images/close-button.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin: 0px 0px 5px;

  img {
    height: 24px;
    width: 24px;
    padding-right: 5px;
  }
}

.home-list {
  padding-inline-start: 0;
  margin: 0;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;

  .nav-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    height: 50px;
    width: auto;
  }

  a {
    text-decoration: none;
    padding: 0 10px;
  }

  span {
    font-family: 'Daydream';
    color: white;
    font-size: var(--font-small);
    text-align: center;
    margin-top: 10px;
  }
}

/////// ABOUT ME /////// 

#facePhoto {
  height: 90px;
  width: 90px;
  margin-right: 10px;
}

/////// RESUME /////// 

#resume {
  h2 {
    margin: 15px 0 0;
  }

  p {
    margin: 0;
  }

  ul {
    margin-top: 5px;
  }

  strong {
    padding-right: 5px;
  }

  article p time:first-of-type {
    padding-left: 5px;
  }
}

/////// Contact /////// 

.button-outline:focus-within {
  outline: #5E9ED6 solid 1px;
  outline-style: auto;
  outline-offset: 3px;
}

#submitButton {
  font-family: 'DigitalDisco';
  font-size: large;
  background-clip: padding-box;
  color: white;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 4px;
  position: static;
  outline: none; 

  &:hover {
    cursor:pointer;
  }
}

#formSubmitMessage {
  font-family: 'VT323';
  font-size: x-large;
  text-align: center;
  margin-bottom: 0;
  color: #6f123f;
}

.error-message {
  margin: 0 0 20px;
  color: #dd2680;
  text-align: center;
  @extend .body-text-font;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  min-width: 80%;
}

.form-field label {
  margin-bottom: 8px;
  font-weight: bold;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 145px;
}

.message-field {
  margin-bottom: 8px;
}

.contact-form-wrapper {
  padding-bottom: 8px;
  width: 100%;
}

////Button Animation/////

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

#submitButton span {
  display: inline-block;
  transition: transform 0.3s ease;
}

#submitButton:hover span {
  animation: bounce 0.6s ease infinite;
}

#submitButton:hover span:nth-child(1) {
  animation-delay: 0s;
}
#submitButton:hover span:nth-child(2) {
  animation-delay: 0.1s;
}
#submitButton:hover span:nth-child(3) {
  animation-delay: 0.2s;
}
#submitButton:hover span:nth-child(4) {
  animation-delay: 0.3s;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// Pixel Border Effect
// https://pixelcorners.lukeb.co.uk/?radius=7&multiplier=3&border=1&border_width=1&border_color=#ff0000
//////////////////////////////////////////////////////////////////////////////////////////////////////

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 12px),
    3px calc(100% - 12px),
    3px calc(100% - 9px),
    6px calc(100% - 9px),
    6px calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 3px),
    12px calc(100% - 3px),
    12px 100%,
    calc(100% - 12px) 100%,
    calc(100% - 12px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 12px),
    100% calc(100% - 12px),
    100% 12px,
    calc(100% - 3px) 12px,
    calc(100% - 3px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 3px,
    calc(100% - 12px) 3px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 3px,
    9px 3px,
    9px 6px,
    6px 6px,
    6px 9px,
    3px 9px,
    3px 12px,
    0px 12px);
  position: relative;
}
.pixel-corners {
  border: 3px solid transparent;
}
.pixel-corners--wrapper {
  width: 100%;
  max-width: 360px;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(3px 12px,
    6px 12px,
    6px 9px,
    9px 9px,
    9px 6px,
    12px 6px,
    12px 3px,
    calc(100% - 12px) 3px,
    calc(100% - 12px) 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) 12px,
    calc(100% - 3px) 12px,
    calc(100% - 3px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 3px),
    12px calc(100% - 3px),
    12px calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 9px),
    6px calc(100% - 9px),
    6px calc(100% - 12px),
    3px calc(100% - 12px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 12px),
    3px calc(100% - 12px),
    3px calc(100% - 9px),
    6px calc(100% - 9px),
    6px calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 3px),
    12px calc(100% - 3px),
    12px 100%,
    calc(100% - 12px) 100%,
    calc(100% - 12px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 12px),
    100% calc(100% - 12px),
    100% 12px,
    calc(100% - 3px) 12px,
    calc(100% - 3px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 3px,
    calc(100% - 12px) 3px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 3px,
    9px 3px,
    9px 6px,
    6px 6px,
    6px 9px,
    3px 9px,
    3px 12px,
    0px 12px,
    0px 50%,
    3px 50%,
    3px 12px,
    6px 12px,
    6px 9px,
    9px 9px,
    9px 6px,
    12px 6px,
    12px 3px,
    calc(100% - 12px) 3px,
    calc(100% - 12px) 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) 12px,
    calc(100% - 3px) 12px,
    calc(100% - 3px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 3px),
    12px calc(100% - 3px),
    12px calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 9px),
    6px calc(100% - 9px),
    6px calc(100% - 12px),
    3px calc(100% - 12px),
    3px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -3px;
}