@font-face {
  font-family: 'Daydream';
  src: url('./fonts/Daydream.ttf') format('truetype'); 
}

@font-face {
  font-family: 'DigitalDisco';
  src: url('./fonts/DigitalDisco.ttf') format('truetype');
}

@font-face {
  font-family: 'VT323';
  src: url('./fonts/VT323-Regular.ttf') format('truetype');
}

:root {
  --font-small: 12px;
  --font-medium: 18px;
  --font-large: 27px;
}

.background-white {
  background-color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding-bottom {
  padding-bottom: 20px;
}

.top-margin {
  margin-top: 10px;
}

.overflow {
  max-height: 70vh;
  overflow-x: scroll;
}

.text-left-align {
  text-align: left;
}

.flex-justify-space-around {
  display: flex;
  justify-content: space-around;
}

.body-padding {
  padding: 0 15px 30px;
}

.body-text-font {
  font-family: 'VT323';
  color: #6f123f;
  font-size: var(--font-medium);
}

.gradient-text {
  color: transparent;
  background: linear-gradient(216deg, rgba(102,145,255,1) 0%, rgba(119,92,240,1) 25%, rgba(220,40,127,1) 50%, rgba(255,98,0,1) 75%, rgba(255,174,0,1) 100%);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 0 0;
  background-clip: text;
  background-attachment: fixed;
  @extend .shimmer;
}

body {
  white-space: pre-line;
  margin: 0;
  box-sizing: border-box;
  overflow: scroll;
  display: block !important;
}

h1 {
  margin: 0 0 20px;
  padding-top: .67em;
  font-family: 'Daydream';
  text-align: center;
  font-size: var(--font-large);
}

.title-wrapper span {
  font-family: 'DigitalDisco';
  font-size: var(--font-medium);
  margin: 0;
}

.nav-wrapper {
  a {
    text-decoration: none;
  }

  span {
    font-family: 'Daydream';
    color: white;
    font-size: var(--font-small);
    text-align: center;
    margin-top: 10px;
  }
}

.background {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(216deg, rgba(102,145,255,1) 0%, rgba(119,92,240,1) 25%, rgba(220,40,127,1) 50%, rgba(255,98,0,1) 75%, rgba(255,174,0,1) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 0 0;
}

@keyframes shimmer {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.shimmer {
  animation: shimmer 6s linear infinite alternate;
}

@keyframes pixelGrid {
  from {
    background-position: top left;
  }
  to {
    background-position: bottom right;
  }
}

.gird-shift::before {
  animation: pixelGrid 100s linear infinite alternate;
}

.background-pixel-grid {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
 

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300%;
    height: 300%;
    background-image: url('./images/pixel-grid.png');
    background-attachment: initial;
    background-position: top left;
    transform:translate(-50%,-50%) rotate(-17deg);
    opacity: 20%;
  }
}

.container-wrapper {
  display: flex;
  justify-content: center;
}

.file-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  #fileName {
    padding: 15px 0 15px 20px;
    margin: 0;
    font-size: var(--font-medium);
    text-transform: uppercase;
    color: white;
    font-family: 'VT323';
  }

  &::before {
    content: "";
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    @extend .background;
    @extend .shimmer
  }
}

.close-button {
  height: 20px;
  width: 20px;
  padding-right: 15px;
  background-image: url('./images/close-button.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin: 0px 0px 5px;

  img {
    height: 24px;
    width: 24px;
    padding-right: 5px;
  }
}

.home-list {
  padding-inline-start: 0;
  margin: 0;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 25px;

  .nav-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    height: 50px;
    width: auto;
  }
}

/////// ABOUT ME /////// 

#facePhoto {
  height: 90px;
  width: 90px;
}

/////// RESUME /////// 

#resume {
  h2, p {
    margin: 10px 0 0;
  }

  strong {
    padding-right: 5px;
  }

  article p time:first-of-type {
    padding-left: 5px;
  }
}

/////// Contact /////// 

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  min-width: 80%;
}

.form-field label {
  margin-bottom: 8px;
  font-weight: bold;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 115px;
}


//////////////////////////////////////////////////////////////////////////////////////////////////////
// Pixel Border Effect
// https://pixelcorners.lukeb.co.uk/?radius=7&multiplier=3&border=1&border_width=1&border_color=#ff0000
//////////////////////////////////////////////////////////////////////////////////////////////////////

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 12px),
    3px calc(100% - 12px),
    3px calc(100% - 9px),
    6px calc(100% - 9px),
    6px calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 3px),
    12px calc(100% - 3px),
    12px 100%,
    calc(100% - 12px) 100%,
    calc(100% - 12px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 12px),
    100% calc(100% - 12px),
    100% 12px,
    calc(100% - 3px) 12px,
    calc(100% - 3px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 3px,
    calc(100% - 12px) 3px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 3px,
    9px 3px,
    9px 6px,
    6px 6px,
    6px 9px,
    3px 9px,
    3px 12px,
    0px 12px);
  position: relative;
}
.pixel-corners {
  border: 3px solid transparent;
}
.pixel-corners--wrapper {
  width: 90%;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(3px 12px,
    6px 12px,
    6px 9px,
    9px 9px,
    9px 6px,
    12px 6px,
    12px 3px,
    calc(100% - 12px) 3px,
    calc(100% - 12px) 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) 12px,
    calc(100% - 3px) 12px,
    calc(100% - 3px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 3px),
    12px calc(100% - 3px),
    12px calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 9px),
    6px calc(100% - 9px),
    6px calc(100% - 12px),
    3px calc(100% - 12px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 12px),
    3px calc(100% - 12px),
    3px calc(100% - 9px),
    6px calc(100% - 9px),
    6px calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 3px),
    12px calc(100% - 3px),
    12px 100%,
    calc(100% - 12px) 100%,
    calc(100% - 12px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 3px),
    calc(100% - 9px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 6px),
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 9px),
    calc(100% - 3px) calc(100% - 12px),
    100% calc(100% - 12px),
    100% 12px,
    calc(100% - 3px) 12px,
    calc(100% - 3px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 3px,
    calc(100% - 12px) 3px,
    calc(100% - 12px) 0px,
    12px 0px,
    12px 3px,
    9px 3px,
    9px 6px,
    6px 6px,
    6px 9px,
    3px 9px,
    3px 12px,
    0px 12px,
    0px 50%,
    3px 50%,
    3px 12px,
    6px 12px,
    6px 9px,
    9px 9px,
    9px 6px,
    12px 6px,
    12px 3px,
    calc(100% - 12px) 3px,
    calc(100% - 12px) 6px,
    calc(100% - 9px) 6px,
    calc(100% - 9px) 9px,
    calc(100% - 6px) 9px,
    calc(100% - 6px) 12px,
    calc(100% - 3px) 12px,
    calc(100% - 3px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 12px),
    calc(100% - 6px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 9px),
    calc(100% - 9px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 6px),
    calc(100% - 12px) calc(100% - 3px),
    12px calc(100% - 3px),
    12px calc(100% - 6px),
    9px calc(100% - 6px),
    9px calc(100% - 9px),
    6px calc(100% - 9px),
    6px calc(100% - 12px),
    3px calc(100% - 12px),
    3px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -3px;
}